{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="data-table">
        <h2>View Student Scores</h2>
        <div class="class-buttons">
            {% for sec in classes %}
            <form action="{{ url_for('class_view', section_id=sec.id) }}" method="get" style="display: inline;">
                <button type="submit" class="{% if classname and classname == sec.name %}active{% endif %}">{{ sec.name }}</button>
            </form>
            {% endfor %}

        </div>
    </div>
{% endblock %}